# Project environment configuration
SIGNER_PORT=9000
CRL_PORT=8080
SIGNER_BASE_URL=https://localhost:9000
CA_INTERMEDIATE_NAME=int-server
DAYS_VALID=90
AUTH_TOKEN=rajlabs-secure-api-key-9988
AUTO_CRL_INTERVAL_HOURS=24
